
:root{
  --text-color: grey;
  --background-color: rgba(255, 218, 121,1.0);
  --background-color-edit: rgb(252, 202, 75);
  --delete-color: crimson;
  --check-color: green;
}
*{
  box-sizing: border-box;
  font-family: sans-serif,arial;
}
body{
  margin: 0;
}
.material-symbols-outlined{
  cursor: pointer;
}
.material-symbols-outlined.task__item-delete{
  color: var(--delete-color);
}
.material-symbols-outlined.task__item-edit{
  color: var(--check-color);
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  background-color: gainsboro;
  height: 100vh;
  width: 100vw;
}
.form{
  display: grid;
  grid-template-areas: "superior superior"
                        "izquierda derecha";
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.form__input{
  grid-area: superior;
  display: block;
  justify-content: left;
  margin-top: 1em;
  margin-bottom: 1em;
  border: none;
}
.form__date{
  grid-area: izquierda;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background-color: var(--background-color);
}
.form__time{
  grid-area: izquierda;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background-color: var(--background-color);
}
.form__submit{
  grid-area: derecha;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--check-color);
  border: 0;
  margin-left: 1em;
  background-color: var(--background-color);
}

.task-container{
  border: solid 1px var(--text-color);
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
}
.task__titulo{
  margin: 10px;
}
.task-right{
  display: flex;
}
.task-list{
  padding-left: 0.4em;
  padding-right: 0.4em;
}
.task__item{
  display: flex;
  border-bottom: solid 1px var(--text-color);
  margin-right: 10px;
  list-style: none;
  justify-content:space-between;
}
.task__item-text{
  background-color: var(--background-color);
  border: none;
}
.task__item-delete{
  color: var(--delete-color);
}
.task-menssage{
  display: none;
}
.active{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.task-menssage__text{
  text-align: center;
}
.date-time{
  margin: 0;
  margin-bottom: 0.3em;
}
.editores{
  display: flex;
  flex-direction: column;
}
/* edit mode */
.update-edit-btn{
  background-color:var(--background-color-edit);
}
.task-complete{
  text-decoration: line-through;
}
@media(hover:hover){
  .material-symbols-outlined:hover{
    box-shadow:1em;
  }
}
@media (min-width:720px){
  .task-container{
    border: solid 1px var(--text-color);
    background-color: var(--background-color);
    /* height: 90%; */
    width: 70%;
    border-radius: 20px;
  }
  .editores{
    display: flex;
    flex-direction: row;
  }
  
}




